.colorBlock {
  margin: 0 0 16px 0;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.colorLine {
  display: flex;
  flex-direction: row;
}
.colorItem {
  margin: 0 10px 0 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorItemInside {
  height: 32px;
  width: 31px;
  border: rgba(43, 43, 43, 0.24) 1px solid;
}
@media (max-width: 600px) {
  .colorItem {
    margin: 0 1vw 0 0;
    height: 8vw;
    width: 8vw;
  }
  .colorItemInside {
    height: 7vw;
    width: 7vw;
  }
  .colorBlock {
    margin: 0;
    height: 16vw;
  }
}
.activeColor {
  border: 1px solid #5ECE7B;
}
