.wrapper {
  margin: 80px 0 0 0;
  /*padding: 0 100px;*/
  display: flex;
  flex-direction: row;

}
.leftBlock {
  width: 79px;
  min-height: 400px;
  /*border: blue 1px solid;*/
  display: flex;
  flex-direction: column;
}
.smallImage {
  margin: 0 0 40px 0;
  width: 100%;
  height: 80px;
  border: blue 1px solid;

}
.imageBlock {
  margin: 0 0 0  40px;
  width: 610px;
  height: 511px;
  border: green 1px solid;
}
.rightBlock {
  margin: 0 0 0 100px;
  width: 292px;
  height: 595px;
  border: blue 1px solid;
  display: flex;
  flex-direction: row;
}
