.colorBlock {
  margin: 24px 0 0 0;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.colorLine {
  display: flex;
  flex-direction: row;
}
.colorItem {
  margin: 0 10px 0 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.colorItemInside {
  height: 32px;
  width: 31px;
  border: rgba(43, 43, 43, 0.24) 1px solid;
}
.activeColor {
  border: 1px solid #5ECE7B;
}
@media (max-width: 900px) {
  .colorBlock {
    margin: 3vw 0 0 0;
    height: 12vw;
  }
  .colorItem {
    margin: 0 0.5vw 0 0;
    width: 6vw;
    height: 6vw;
  }
  .colorItemInside {
    width: 5vw;
    height: 5vw;
  }
}
