.colorBlock {
  margin: 24px 0 0 0 ;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.colorLine {
  display: flex;
  flex-direction: row;
}
.colorItem {
  margin: 0 8px 0 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorItemInside {
  height: 32px;
  width: 32px;
  border: rgba(43, 43, 43, 0.24) 1px solid;
}
.itemGrey {
  background: #D3D2D5;
}
.itemDarkGray {
  background: #2B2B2B;
}
.itemGreen {
  background: #0F6450;
}
.activeColor {
  border: 1px solid #5ECE7B;
}
