.sizeBlock {
  margin: 0 0 16px 0;
  height: 71px;
  display: flex;
  flex-direction: column;
}
.sizeBlock h4 {
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.sizeLine {
  margin: 8px 0 0 0;
  height: 45px;
  display: flex;
  flex-direction: row;
}
.sizeItem {
  margin: 0 12px 0 0 ;
  width: 63px;
  height: 45px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sizeItem p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .sizeBlock {
    margin: 0 0 2vw 0;
    height: 19vw;
  }
  .sizeItem {
    margin: 0 1vw 0 0 ;
    width: 14vw;
    height: 6vw;
  }
  .sizeItem > p {
    font-size: 4vw;
    line-height: 4vw;
  }
  .sizeLine {
    margin: 0.5vw 0 0 0;
  }
}
.active {
  background: black;
  color: white;
}
