.mainWrapper {
  max-width: 1240px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .mainWrapper {
    padding: 0 10px;
  }
}
.mainWrapper h1 {
  margin: 80px 0 101px 0;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}
.mainProductSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: left;
}
.outStock {
  position: relative;
  opacity: 0.5;
}
.itemBlock {
  position: relative;
  width: 33.33%;
}

@media screen and (max-width: 1070px) {
  .itemBlock {
    width: 49.9%;
  }
}
@media screen and (max-width: 725px) {
  .itemBlock {
    width: 100%;
  }
}

.outStock::after {
  position: absolute;
  content: "OUT OF STOCK";
  width: 100%;
  text-align: center;
  top: 35%;
  left: 0;
  font-size: 24px;
  line-height: 160%;
  color: #8D8F9A;
}
.mainLink {
  text-decoration: none;
  text-transform: none;
  color: black;
}
