.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: #2B2B2B 1px solid;*/
  border-top: #E5E5E5 1px solid;
}
.wrapper h2 {
  color: black;
}
.leftSide {
  padding: 24px 0 0 0;
  /*border: blue 1px solid;*/
}
.rightSide {
  padding: 24px 0 0 0;
  width: 269px;
  /*border: blue 1px solid;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.buttonSide {
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: black 1px solid;*/
}
.buttonQuality {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: white;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  width: 15px;
  height: 15px;
  background-image: url("../../../../../assets/images/Icon/plus-svgrepo-com.svg");
}
.minus {
  width: 15px;
  height: 15px;
  background-image: url("../../../../../assets/images/Icon/minus-svgrepo-com.svg");
}
.numberInBasket {
  text-align: center;
}
.numberInBasket p {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}
.imageBlock {
  width: 200px;
  height: 288px;
  position: relative;
  border: #0F6450 1px solid;
  /*background-color: #5ECE7B;*/
}
.arrow {
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 16px;
  background: rgba(0, 0, 0, 0.55);
}
.arrowLeft {
  right: 48px;
}
.arrowRight {
  right: 16px;
}
.arrowSvgLeft {
  width: 15px;
  height: 15px;
  background-image: url("../../../../../assets/images/Icon/left-arrow-next-svgrepo-com.svg");
  opacity: 1;
}
.arrowSvgRight {
  width: 15px;
  height: 15px;
  fill: white;
  background-image: url("../../../../../assets/images/Icon/right-arrow-next-svgrepo-com.svg");
  opacity: 1;
}
