.totalWrapper {
  width: 100%;
  min-height: 100px;
  border-top: #E5E5E5 1px solid;
}
.totalSection {
  margin: 33px 0 0 0;
  width: 279px;
  height: 159px;
  /*border: #282c34 1px solid;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sectionColumns {
  display: flex;
  flex-direction: row;
}
.leftTotal {
  width: 104px;
  /*border: blue 1px solid;*/
}
.leftTotal p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.rightTotal p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.sendButton {

}
.totalBold p {
  font-weight: 600;
}
.orderButton {
  width: 279px;
  height: 43px;
  /*border: #0F6450 1px solid;*/
  background-color: #5ECE7B;
}
.orderButton p {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}
