.rightSide {
  width: 153px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.buttonSide {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttonQuality {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: white;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  width: 8px;
  height: 8px;
  background-image: url("../../../../../../data/images/Icon/plus-svgrepo-com.svg");
}
.minus {
  width: 8px;
  height: 8px;
  background-image: url("../../../../../../data/images/Icon/minus-svgrepo-com.svg");
}
.numberInBasket {
  text-align: center;
}
.numberInBasket p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.imageBlock {
  width: 121px;
  height: 190px;
  margin: 0 0 0 8px;
  position: relative;
  border: #0F6450 1px solid;
}
