.wrapper {
  width: 100%;
  height: 400px;
}
.brand {
  text-align: left;
}
.brand h2 {
  color: black;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}
.name {
  text-align: left;
}
.wrapper h3 {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}
.wrapper h4 {
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.priceBlock {
  margin: 36px 0 0 0;
  /*border: #0F6450 1px solid;*/
}
