.wrapper {
  margin: 0 0 40px 0;
  width: 100%;
  height: 52px;
  background-color: #5ECE7B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: green 1px solid;
}
h2 {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
